@charset "UTF-8";

	body{
		background-color: #dddddd; /*cor de fundo da página*/
		color: rgba(0,0,0,1);
	}

	/*FORMATANDO A INTERFACE DO SITE*/
	div#interface{
		width: 1200px; /*largura da interface*/
		background-color: #ffffff; /*fundo branco*/
		margin: -20px auto 0px auto; /*CENTRALIZAÇÃO: margens de CIMA, da DIREITA, de BAIXO, da ESQUERDA*/
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5); /*sombra suave nas bordas da interface*/
		padding: 10px 10px 10px 10px; /*espaço interno do objeto */
	}

	p{
		text-align: justify;
		text-indent: 50px;
	}

	header#cabecalho img#icone{
		position: absolute; /* ícone vai flutuar pela página*/
		left: 1038px;
		top: 40px;
	}

	header#cabecalho{
		
	}

	/*FORMATAÇÃO DE IMAGENS COM LEGENDAS*/
	figure.foto-legenda{
		position: relative;
		border: 8px solid white;
		box-shadow: 1px 1px 4px black; /*configurando o sombreamento da borda*/
	}
	figure.foto-legenda img{ /*se a tela do navegador aumenta/diminui, a figura também o faz chegando ao limite da interface*/
		width: 100%;
		height: 100%;
	}
	figure.foto-legenda figcaption{ /*figcaption é um objeto-conteiner (filho) de figure*/
		opacity: 0; /*transparência da legenda*/
		position: absolute; /*posição fixa dentro do conteiner (borda branca)*/
		top: 0px;
		background-color: rgba(0,0,0,0.4);
		color: white; /*cor da letra da legenda*/
		width: 100%; /*a cor de fundo da legenda ocupará toda a área da imagem*/
		height: 100%;
		padding: 10px; /*espaço dentro da legenda*/
		box-sizing: border-box; /*cria uma caixa dentro da borda*/
		transition: opacity 1s;
	}
	figure.foto-legenda:hover figcaption{/*dispara uma formatação específica quando o cursor pasa sobre a imagem*/
		opacity: 1;
	}

	/*FORMATAÇÃO DO MENU*/
	nav#menu{ /*para que o menu flutue*/
		display: block; /*o bloco do menu será exibido em uma linha*/
	}
	nav#menu ul{ /*sempre que tiver um id, é preciso usar a cerquilha*/
		list-style: none; /*para "sumir" com os marcadores*/
		text-transform: uppercase; /*colocando tudo em letrais maiúsculas*/
		position: absolute; /*para que o bloco possa passar por cima dos documentos*/
		top: -20px;
		left: 600px;
	}
	nav#menu li{ /*formatação para cada um dos itens da lista*/
		display: inline-block; /*faz com que um bloco seja exibido em uma mesma linha*/
		background-color: #dddddd; /*cinza claro para o fundo do menu*/
		padding: 10px; /*cria um espaço dentro da caixa, no menu*/
		margin: 2px; /*controla o espaço fora de cada botão, entre os botões*/
		transition: background-color 1s; /*monitorando a cor de fundo em 1s de intervalo*/
	}
	/*FAZENDO UM EFEITO PARA QUANDO O CURSOR SE MOVIMENTAR SOBRE O BOTÃO*/
	nav#menu li:hover{
		background-color: #606060; /*quando o cursor é movimentado sobre o botão, ele assume a cor cinza-escuro*/
	}
	nav#menu h1{ /*para o texto de "Menu Principal"*/
		display: none; /*para escondê-lo*/
	}
	nav#menu a{ /*"todo NAV que tiver o ID MENU e for um LINK (ou seja, entre as tags 'a')..."*/
		color: #000000; /*recebe a cor preta*/
		text-decoration: none; /*no caso, o sublinhado foi retirado*/
	}

	/*modificando o estilo dos links*/
	nav#menu a:hover{
		color: #ffffff; /*cor branca*/
		text-decoration: underline; /*fica sublinhado quando o cursor passa por cima*/ 
	}